@use '../members' as var;
@use 'sass:map';
@use 'sass:color';

// *** GENERAL *** // 

$light: -10%;

//************************
//* BAR-WRAPPER
//************************
.bar-wrapper {
    @at-root {
        & .nav__item > a:hover {
            color: color.scale(map.get(var.$clr, 'white'), $lightness: $light); 
        }
    }
}

//************************
//* FOOTER-CONTAINER
//************************ 
.footer-container {
    @at-root {
        .footer__section:nth-child(3) .nav__item { 
            text-align: center; 

            a:hover::before {
                color: color.scale(map.get(var.$clr, 'white'), $lightness: $light);
            }           
        }
    }
}

// *** INDEX *** //

//************************
//* CATHEGORIES-CONTAINER
//************************
.cathegories-container {
    @at-root {
        & .nav__item:nth-child(1):hover { 
            background-color: 
                color.scale(map.get(var.$clr, 'primary'), $lightness: $light); 
        }

        & .nav__item:nth-child(2):hover { 
            background-color: 
                color.scale(map.get(var.$clr, 'secundary'), $lightness: $light); 
        }

        & .nav__item:nth-child(3):hover { 
            background-color: 
                color.scale(map.get(var.$clr, 'tertiary'), $lightness: $light);
        }

        & .nav__item:nth-child(4):hover { 
            background-color: 
                color.scale(map.get(var.$clr, 'purple-100'), $lightness: $light); 
        }
    }
}

// *** BLOGPOST *** // 

//************************
//* POST-SECTION
//************************
.post__section {
    @at-root {
        &:target .section__heading {
            color: map.get(var.$clr, 'secundary');
        }
    }
}

//************************
//* UTILITIES
//************************
.button:hover {
    background-color: 
        color.scale(map.get(var.$clr, 'primary'), $lightness: $light);
}