@use '../members' as var;
@use 'sass:map';

// *** GENERAL *** // 

///////////
// HERO // 
//////////
.hero-container {
    position: relative;
    @include var.mx-flexbox($dir: column, $jt-content: center);

    .webp & { 
        background-image: url('../assets/webp/hero@1x.webp'); 
        @include var.mx-query($device: 'tablet', $size: 'md') {
            background-image: url('../assets/webp/hero@2x.webp')
        }
    }

    .no-webp & { 
        background-image: url('../assets/jpg/hero@1x.jpg'); 
        @include var.mx-query($device: 'tablet', $size: 'md') {
            background-image: url('../assets/jpg/hero@2x.jpg')
        }
    }

    background: {
        position: center center;
        repeat: no-repeat;
        size: cover;
        attachment: fixed;
    }
}

.hero-content {
    h1 {
        font-size: 4rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
        color: map.get(var.$clr, 'primary');
    }
}

///////////// 
// FOOTER // 
//////////// 
.footer-container {
    padding-block-start: 1.6rem;
    background-color: map.get(var.$clr, 'primary');
    color: map.get(var.$clr, 'white');

    @at-root {
        .footer-container > .container {
            text-align: center;
            @include var.mx-query($device: 'tablet', $size: 'sm') {
                text-align: unset;
            }
        }

        .footer__section:nth-child(2) .nav__list { list-style: disc; }

        .footer__section:nth-child(3) .nav__item { 
            text-align: center; 

            a::before {
                font-family: 'Font Awesome 5 Brands';
                font-size: 2rem;
                color: map.get(var.$clr, 'white');
            }

            a[href*='facebook']::before { content: '\f39e'; }
            
            a[href*='twitter']::before { content: '\f099'; }
            
            a[href*='youtube']::before { content: '\f167'; }
            
            a[href*='instagram']::before { content: '\f16d'; }
            
            a[href*='pinterest']::before { content: '\f0d2'; }            
        }

        .footer__heading {
            font-size: 2rem;
            text-transform: uppercase;
            letter-spacing: .2rem;
            @include var.mx-query($device: 'tablet', $size: 'sm') {
                text-align: center;
            }
        }

        .copyright {
            font-size: 1.8rem;
            font-weight: bold;
            text-align: center;
            background-color: map.get(var.$clr, 'tertiary');
        }
    }
}

// *** INDEX *** // 

///////////
// MAIN // 
//////////
.main-container {
    @at-root {
        .blogpost__content {
            text-align: center;
            text-transform: uppercase;
            background-color: map.get(var.$clr, 'white');
        }

        .blogpost__heading {
            font-size: 1.4rem;
            line-height: 1.4;
        }

        .blogpost__paragraph {
            span {
                color: map.get(var.$clr, 'tertiary');
            }
        }
    }
}

////////////////// 
// CATHEGORIES // 
///////////////// 
.cathegories-container {
    @at-root {
        & .nav__item {
            i { font-size: 3.2rem; }
        }

        & .nav__item:nth-child(1) { background-color: map.get(var.$clr, 'primary'); }

        & .nav__item:nth-child(2) { background-color: map.get(var.$clr, 'secundary'); }

        & .nav__item:nth-child(3) { background-color: map.get(var.$clr, 'tertiary'); }

        & .nav__item:nth-child(4) { background-color: map.get(var.$clr, 'purple-100'); }
    }
}