@use '../members' as var;
@use 'sass:map';

//************************
//* UTILITIES
//************************
.container {
    margin-inline: auto;
    max-width: 110rem;
    padding: 1.5rem;
}

.clr-1 { color: map.get(var.$clr, 'primary'); }

.clr-2 { color: map.get(var.$clr, 'secundary'); }

.clr-3 { color: map.get(var.$clr, 'tertiary'); }

.nav__item a {
    display: block;
    padding-block: 1rem;
    font: 
    {
        size: 1.6rem;
        weight: bold;
    }
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: map.get(var.$clr, 'white');
}

.txt-center { text-align: center; }

.button {
    display: inline-block;
    margin-block: 1rem;
    padding: 1rem 1.2rem;
    background-color: map.get(var.$clr, 'primary');
    color: map.get(var.$clr, 'white');
}